.header {
  padding: 20px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .header_img_wrapper {
    max-width: 55%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .nav__links {
    width: 100%;
    justify-self: end;
  }

  .nav__link {
    color: #FF6060;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1rem;
    line-height: 22px;
    transition: text-decoration 500ms ease-in-out;
  }

  .underline {
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }

  @media screen and (min-width: 600px) {
    padding: 30px 40px;
    grid-template-columns: 2fr 1fr;

    .header_img_wrapper {
      max-width: 25%;
    }
    .nav__link {
      text-transform: capitalize;
      font-size: unset;

    }
  }
}